project_id = "calzzyiqwaskxmbpbngm"

[api]
enabled = true
port = 54321

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[functions.send-otp-email]
verify_jwt = false

[functions.email-otp]
verify_jwt = false